/* ABOUT SECTION */
.about {
  padding: 100px 0;
  background: #f5faff;
}

.about-tittle {
  text-align: center;
  font-size: 36px;
  color: #1b3c53;
  margin-bottom: 50px;
  font-weight: 700;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 40px;
}

/* CARD KIRI */
.about-card {
  flex: 1;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 188, 212, 0.25);
}

.about-card p {
  font-size: 18px;
  line-height: 1.7;
  color: #222;
  margin-bottom: 25px;
  text-align: justify;
}

/* BUTTON */
/* .button {
  display: inline-block;
  padding: 10px 25px;
  background: #00bcd4;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 0 10px #00bcd4;
}

.button:hover {
  background: #fff;
  color: #00bcd4;
  box-shadow: 0 0 20px #00bcd4;
} */

/* FOTO KANAN */
.about-img img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 188, 212, 0.5);
  transition: 0.3s ease;
}

.about-img img:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-card {
    text-align: center;
  }

  .about-img img {
    width: 260px;
    height: 260px;
  }
}
